.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header_logo{
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
    transform: rotate(180deg);
}

.header_input{
    display: flex;
    align-items: center;
    width: 50%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 4.5px;
    
}

.header_icon{
    margin-right: 8px;
}

.header_inputButton{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray
}
.header_inputButton:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 10px;
}


.header_icons{
    display: flex;
    align-items: center;
}
.header_icon:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 10px;
}

.header_input > input {
    flex: 1;
    border: none;
}

.header_menuIcon:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 10px;
}
